.DS_Store
.emacs.d/elpa
.emacs.d/.python-environments
.emacs.d/url
.emacs.d/eshell
.emacs.d/auto-save-list
.emacs.d/ac-comphist.dat
.emacs.d/projectile-bookmarks.eld
.emacs.d/recentf
.emacs.d/quelpa
.emacs.d/semanticdb
.emacs.d/tramp
